body{
  background-color: lightgray;

}
div#pasto{
  background-color: green;
  /*border: 1px solid black;*/

  left: 20%;
  height: 500px;
  position: relative;
  width: 800px;
}
div#cancha{
  border: 1px solid white;
  height: 400px;
  left: 50px;
  position: absolute;
  top: 50px;
  width: 700px;

}
div{
  /*border: 1px solid black;*/
  height: 50px;
  width: 50px;
}

div#centro{
  border: 3px solid white;
  height: 80px;
  position: absolute;
  width: 80px;
  left: 45%;
  bottom: 40%;
  border-radius: 100%;
}
.porteria{
  border: 3px solid white;
  height: 100px;
  position: absolute;
  width: 50px;
}
div#pder{
  left:92%;
  bottom: 40%;
  border-right: none;
}
div#pizq{
  bottom: 40%;
  border-left: none;
}
div#bcentro{
  border: 1px solid white;
  height: 10px;
  position: absolute;
  width: 10px;
  left: 55%;
  bottom: 70%;
  border-radius: 100%;
  background-color: white;
}
.balones{
  border: 1px solid white;
  height: 10px;
  position: absolute;
  width: 10px;
  /*left: 45%;
  bottom: 40%;*/
  border-radius: 100%;
  background-color: white;
}
div#bizq{
bottom: 67%;
left: 8%;
}
div#bder{
  right: 8%;
  bottom: 35%;
}
